
nav.main-menu {
    position: absolute;
    display: none;
    height: 100vh;
    width:100vw;
    top:0;
    left:0;
    background-color: #555a;
    backdrop-filter: blur(10px);

    width: 100%;

    ul {
        margin: auto;
        margin-top: 10vw;
        text-align: center;

        li {

            font-size: 2rem;
            border-bottom: solid 1px $color-blue;
            width: 50vw;
            margin: auto;
            padding-bottom: $gutter-simple;
            margin-bottom: $gutter-simple;
            a {
                color: $color-white;
                text-decoration: none;
            }

        }
    }

    .close-button {
        font-size: 3rem;
        text-align: right;
        padding: $gutter-simple;
    }
}