.header {

    @include nav;
    @include topBar;

    position: relative;
    color: $color-white;
    background:
        radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 58%),
        url('../images/header.jpg');


    height: 550px;
    background-size: cover;


    h2 {
        font-size: 3rem;
        margin-bottom: $gutter-double;
    }

    .hero__intro {
        font-size: 2rem;
        margin-bottom: $gutter-double;
    }

    .hero {
        margin: $gutter-double;
    }


}
